/* font */
@font-face {
  font-family: dinoTheme;
  src: url(/assets/font/Dinosaur.ttf) format("truetype");
}

* {
  font-family: "dinoTheme", sans-serif;
  font-weight: 200;
  color: black;
}
/* same background as intro page */
body {
  background: url(../images/intro-background.jpg) no-repeat center center/cover;
  min-height: 100vh;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #000;
  padding: 8px;
  font-family: "dinoTheme", sans-serif;
}
th {
  background-color: #e1b504d7;
}
/* Styling table headings */
thead th {
  background-color: #e1b504d7;
  text-align: left;
}
/* Styling table cells */
tbody td {
  text-align: left;
  background: rgba(255, 255, 255, 0.726);
}
/* Adding spacing between table cells */
td,
th {
  padding: 10px;
}
table {
  font-size: 16px;
}
/* button */
#play-again-btn {
  background: #000000bf;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
