/* font */
@font-face {
  font-family: dinoTheme;
  src: url(../font/dinosaur.ttf) format("truetype");
}

* {
  font-family: "dinoTheme", sans-serif;
  font-weight: 200;
  color: black;
  padding: 0;
  margin: 0;
}
/* same background as intro page */
body {
  background: url(../images/intro-background.jpg) no-repeat center center/cover;
  min-height: 100vh;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
  margin: 100px;
}
/* Table styling */
table {
  width: 75%;
  border-collapse: collapse;
  margin: 100px auto 20px;
  border-radius: 15px;
  /* overflow - hidden to apply the border radius */
  overflow: hidden;
}
th,
td {
  border: 1px solid #000;
  padding: 8px;
  font-family: "dinoTheme", sans-serif;
}
th {
  background-color: #e1b504d7;
}
/* Styling table headings */
thead th {
  background-color: #e1b504d7;
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
}
/* Styling table cells */
tbody td {
  text-align: center;
  background: rgba(255, 255, 255, 0.726);
}
/* Adding spacing between table cells */
td,
th {
  padding: 10px;
}
table {
  font-size: 16px;
}
/* button */
#play-again-btn {
  background: #000000bf;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  width: 200px;
  height: 100px;
  border: 0;
  padding: 10px;
  margin: 30px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
